h1{
    text-align: center;
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-style: normal;

}

h2{
    font-family: helvetica;
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: normal;
}

main{
    display: flex;
    flex-wrap: wrap;
    background-color: #FAF9F6;
    justify-content: center;
}

a{
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
}

article{
    width:500px;
    margin: 20px 0 20px 50px;
    background-color: white;
    padding: 0px 50px 0px 50px;
}

time{
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.articleimg{
    width: 500px;
    height:400px;
    object-fit: cover;
}

p{
    width: 500px;
    text-align: justify;
    padding: 10px 10px 0px 0px;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
}